extends layout

block content
  h1= title
  p With ♥ thanks to the contributions of
  ul
    li 
      a(href='https://www.docker.com/') Docker
        br
        img(style="width:180px;" src="/img/docker.png")
    li 
      a(href='https://www.daocloud.io/') DaoCloud
        br
        img(style="width:180px;" src="/img/daocloud.png")
    li 
      a(href="https://github.com/Ye-Ting") Yeting


  
  
